<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="exampleInputfirst_name">First Name</label>
        <%= form.text_field :first_name, class: "form-control"%>
      </div>
      <div class="form-group col-sm-3">
        <label for="exampleInputPassword1">Last Name</label>
        <%= form.text_field :last_name, class: "form-control"%>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <label for="exampleInputemail">Email</label>
        <%= form.text_field :email, class: "form-control"%>
      </div>
      <div class="form-group col-sm-3">
        <label for="exampleInputcontact">Contact</label>
        <%= form.text_field :contact, class: "form-control"%>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <label for="exampleInputbirthdate">Birth Date</label>
      <%= form.date_select :birthdate, min: Date.today - 25.year, max: Date.today, class: "form-control datepicker" %>
    </div>

    <div class="form-group">
      <label for="exampleInputdescription">Description</label>
      <%= form.rich_text_area :description, class: "form-control"%>
    </div>

    <div class="form-group col-3">
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to 'Back', customers_path, class: "btn btn-info btn-sm text-white" %>
    </div>
  </form>

<% end %>